*.csv filter=lfs diff=lfs merge=lfs -text
data/final_datasets/*.csv filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
data/final_datasets/preprocessed_propagated_1_hard/scaffold_split/test.csv filter=lfs diff=lfs merge=lfs -text
data/final_datasets/preprocessed_propagated_1_hard/scaffold_split/val.csv filter=lfs diff=lfs merge=lfs -text
benchmark/predictions/pubchef-test-fpbal-0.5_molt5.csv filter=lfs diff=lfs merge=lfs -text
